<div class="container">
  
  <div class="nav">
    <a href='/login'>Login</a>
    <a href='/logout'>Logout</a>
    <a href='/post/submit'>Submit</a>
 </div>
 
 <div class="show_posts">

    <% show_posts.each do |post|%>
      <a href='/post/<%= post.id %>'><%= post.title %></a>
      <br>
    <% end %>

 </div>

</div>
