<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <%= partial :_header %>
  </header>
  <% unless session[:user_id] %>
    <div class='float-div'>
      <form class='login-form'>
        <input class='login-form-username' type="text" placeholder="Username" name="username">
        <input class='login-form-password' type="password" placeholder="Password" name="password">
        <input class='login-form-submit' type="submit" value="Login">
      </form>

      <form class='register-form'>
        <input class='register-form-username' type="text" placeholder="Username" name="username">
        <input class='register-form-email' type="email" placeholder="Email" name="email">
        <input class='register-form-password' type="password" placeholder="Password" name="password">
        <input class='register-form-submit' type="submit" value="Register">
      </form>
    </div>
  <% end %>


  <div class="new-post">
    <form class="new-post-form">
      <input class="form-title" type="text" placeholder="Title" name="title" >
      <textarea class="form-body" rows="10" placeholder="Your post..." name="body" ></textarea>
      <button class="form-submit" type="submit">POST</button>
    </form>
  </div>
  <div class='post-result'></div>
  <div class='container'>
  <%= yield %>
  </div>
</body>
</html>
